click==6.7
EditorConfig==0.12.1
Flask==0.12
Flask-Cors==3.0.2
Flask-Login==0.4.0
Flask-SQLAlchemy==2.2
gevent==1.2.1
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.9.5
jsbeautifier==1.6.11
MarkupSafe==0.23
prettytable==0.7.2
pywsgi==0.9.0
six==1.10.0
SQLAlchemy==1.1.6
Werkzeug==0.11.15
