click==6.7
clipboard==0.0.4
EditorConfig==0.12.1
Flask==0.12.2
Flask-Cors==3.0.3
Flask-SQLAlchemy==2.3.2
gevent==1.2.2
greenlet==0.4.12
humanfriendly==4.4.1
itsdangerous==0.24
Jinja2==2.10
jsbeautifier==1.7.4
MarkupSafe==1.0
prettytable==0.7.2
Pygments==2.2.0
six==1.11.0
SQLAlchemy==1.1.15
Werkzeug==0.12.2